.goBack {
  padding: 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 3px;
}

.mainContainer {
  margin-top: 25px;
  display: flex;
}

.descriprion {
  margin-left: 50px;
}
